{%- extends "bootstrap/base.html" %}

{% block scripts %}
    <script>
        var center_start = null

        var directionsService = null
        var directionsDisplay = null

        var map = null

      function initMap() {
          google.maps.visualRefresh = true;
          directionsService = new google.maps.DirectionsService();
          directionsDisplay = new google.maps.DirectionsRenderer({ suppressMarkers: true,
          polylineOptions: {
              strokeColor: '#880000',
              strokeOpacity: 1.0,
              strokeWeight: 4
          },
        });

          center_start = new google.maps.LatLng(52.227343, 21.007590);

          var mapOptions = {
              zoom: 10,
              center: center_start
          }
          map = new google.maps.Map(document.getElementById('map'), mapOptions);
          directionsDisplay.setMap(map);
      }

      function calcRoute(stan) {

          var iconBase = 'static/images/';
          var icons = {
              start: {
                icon: iconBase + 'start.png'
              },
              end: {
                  icon: iconBase + 'end.png'
              }
          };
        var features = [
          {
            position: new google.maps.LatLng(52.227343, 21.007590),
            type: 'start'
          }, {
            position: new google.maps.LatLng(52.407039, 16.917493),
            type: 'end'
          }, {
            position: new google.maps.LatLng(52.521288, 13.398712),
            type: 'start'
          }, {
            position: new google.maps.LatLng(53.429190, 14.545651),
            type: 'end'
          }
        ];

        var selectedMode = 'DRIVING';
        var value = document.getElementById('progress_bar');

        if (stan==0){
            for (var i = 0; i < features.length; i++) {
            var marker = new google.maps.Marker({
            position: features[i].position,
            icon: icons[features[i].type].icon,
            map: map
            });
            };
            var request = {
            origin: features[0].position,
            destination: features[1].position,
            // Note that Javascript allows us to access the constant
            // using square brackets and a string value as its
            // "property."
            travelMode: google.maps.TravelMode[selectedMode]
        };
        document.getElementById('czas').innerText = "4 dni";
        document.getElementById('data').innerHTML = "17.04.2019r";
        document.getElementById('nameOrder').innerText = "Kubek Allegro";
        document.getElementById('priceOrder').innerText = "24.95 zł";
        document.getElementById('numberOrder').innerText = "3";

        var newprogress = '50%';
        value.innerHTML = newprogress;
        $('#progress_bar').attr('aria-valuenow', newprogress).css('width', newprogress);
        }

        if (stan==1) {
            for (var i = 0; i < features.length; i++) {
                var marker = new google.maps.Marker({
                    position: features[i].position,
                    icon: icons[features[i].type].icon,
                    map: map
                });
            };
            var request = {
                origin: features[2].position,
                destination: features[3].position,
                // Note that Javascript allows us to access the constant
                // using square brackets and a string value as its
                // "property."
                travelMode: google.maps.TravelMode[selectedMode]
            };
        document.getElementById('czas').innerText = "2 dni";
        document.getElementById('data').innerHTML = "15.04.2019r";
        document.getElementById('nameOrder').innerText = "Młynek do kawy";
        document.getElementById('priceOrder').innerText = "42.73 zł";
        document.getElementById('numberOrder').innerText = "1";

        var newprogress = '83%';
        value.innerHTML = newprogress;
        $('#progress_bar').attr('aria-valuenow', newprogress).css('width', newprogress);
        }

        directionsService.route(request, function(response, status) {
            if (status == 'OK') {
                directionsDisplay.setDirections(response);
            }
        });
      }

      function Show() {
        var x = document.getElementById("Hiden");
        if (x.style.display === "none") {
           x.style.display = "block";
        } else {
           x.style.display = "none";
        }
   }
    </script>
{{super()}}
{% endblock %}

{% block title %}
    {% if title %}
        {{ title }} - BrainCode
    {% else %}
        Welcome to BrainCode!
    {% endif %}
{% endblock %}