{%- extends "bootstrap/base.html" %}

{% block scripts %}
    <script>
        var center_start = null

        var start = null
        var stop = null

        var start1 = null
        var stop1 = null

        var directionsService = null
        var directionsDisplay = null

        var global_stan = null


      function initMap() {
          directionsService = new google.maps.DirectionsService();
          directionsDisplay = new google.maps.DirectionsRenderer();

          center_start = new google.maps.LatLng(52.227343, 21.007590);

          var mapOptions = {
              zoom: 10,
              center: center_start
          }
          var map = new google.maps.Map(document.getElementById('map'), mapOptions);
          directionsDisplay.setMap(map);
      }

      function calcRoute(stan) {
          start = new google.maps.LatLng(52.227343, 21.007590);
          stop = new google.maps.LatLng(52.407039, 16.917493);
          start1 = new google.maps.LatLng(38.7699298, -121.4469157);
          stop1 = new google.maps.LatLng(38.7683909618184, -121.51089453697205);

        var selectedMode = 'DRIVING';
        if (stan==0){
            var request = {
            origin: start,
            destination: stop,
            // Note that Javascript allows us to access the constant
            // using square brackets and a string value as its
            // "property."
            travelMode: google.maps.TravelMode[selectedMode]
        };
        }
        if (stan==1){
            var request = {
                origin: start1,
                destination: stop1,
                // Note that Javascript allows us to access the constant
                // using square brackets and a string value as its
                // "property."
                travelMode: google.maps.TravelMode[selectedMode]
            };
        }

        directionsService.route(request, function(response, status) {
            if (status == 'OK') {
                directionsDisplay.setDirections(response);
            }
        });
      }
      function Show() {
   var x = document.getElementById("Hiden");
       if (x.style.display === "none") {
           x.style.display = "block";
       } else {
           x.style.display = "none";
       }
   }
    </script>
{{super()}}
{% endblock %}

{% block title %}
    {% if title %}
        {{ title }} - BrainCode
    {% else %}
        Welcome to BrainCode!
    {% endif %}
{% endblock %}