{% extends "base.html" %}

{% block content %}
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>


<div class="container">
    <div class="page-header bg-secondary">
        <h3 class="text-muted">AllegroTech</h3>
    </div>

    <div class="row">
        <div class="col-sm-9">
            <div style="height: 200px" id="map"></div>
        </div>
    </div>
    <button class="btn btn-danger" onclick="calcRoute(0)">
        Click me!
    </button>
    <button class="btn btn-danger" onclick="calcRoute(1)">
        Click me!
    </button>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBub2kd5v_DR_W20MWmnhITUq0UWumjnQ&callback=initMap"
    async defer></script>
    <script>
        window.onload = function(){
            initMap();
        }
    </script>

    <div class="row bg-secondary">
        <div class="col-sm-9">
            <p>Twoja paczka będzie za: </p>
            <p>Czas dostawy: </p>

            <div class="panel panel-default">
                <div class="panel-heading">Zamówienia</div>

                    <ul class="list-group">
                        <li class="list-group-item">Kubek biały x3 / 24.95zł </li>
                        <li class="list-group-item">Klawiatura x1 / 42.73zł </li>
                        <li class="list-group-item">Mikrofon x1 / 41.69zł </li>
                    </ul>

            </div>
        </div>
    </div>

    <footer class="footer align-middle">
        <p>&copy; Liars 2019</p>
    </footer>

</div>




{% endblock %}
